
.container{
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card{
    background-color: white;
    color: #161616;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card-diff {
    background-color:whitesmoke;
    color:#161616;

}



.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background:#3dcfd3;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .3s;
}
.btn-primary{
    background: transparent;
    color: #3dcfd3;
    border-color: #3dcfd3;
}

.btn-second{
    padding: 5px 10px;
    margin-top: 15px;
    
}

.btn:hover{
    transform: scale(0.96);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}